<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- <a class="btn btn-primary text-white mt-3" (click)="toggleForm()">Add a User</a> -->
      <a class="btn btn-success text-white mt-3" [routerLink]="['/restaurants/new']">New Restaurant</a>
    </div>
  </div>
  <div class="col-md-12">
    <h1 class="display-4 display-5 mt-5 mb-4">Current Users:</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Cuisine</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of restos">
        <td>{{item.name}}</td>
        <td>{{item.cuisine}}</td>
        <td>
          <a [routerLink]="['/restaurants', item._id]" class="btn btn-primary mr-2">Read Reviews</a>
          <!-- <button (click)="toggleForm(item._id)" [routerLink]="['edit']" class="btn btn-warning mr-2">Edit</button> -->
          <button (click)="toggleForm(item._id)" class="btn btn-warning mr-2">Edit</button>
          <button (click)="nukeResto(item._id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <app-resto-edit *ngIf="isFormVisible" [isFormVisible]="isFormVisible" (anEventEmitter)="dataFromChild($event)"></app-resto-edit> -->
<app-resto-edit *ngIf="isFormVisible" [isFormVisible]="isFormVisible" [restoId]="restoId" (anEventEmitter)="dataFromChild($event)"></app-resto-edit>
